
<!-- Add this code in the header.liquid file under schema -->

,{
    "type": "checkbox",
    "id": "enable_transparent-header",
    "label": "Enable Transparent Header",
    "default": false
  },
  {
    "type": "text",
    "id": "color-transparent",
    "label": "Transparent Color"
  }






  <!-- Add this code in the header.liquid file under  -->
  <style> tag

    {% if section.settings.enable_transparent-header %}
        .header-wrapper{
          background: transparent !important;
        position: absolute !important;
        width: 100% !important;
        top: 0px;
      }
      {% endif %}
    
      {% if section.settings.color-transparent %}
    @media only screen and (min-width: 600px) {
        .list-menu__item, details[open]>.header__submenu {
      color: {{ section.settings.color-transparent }} !important;
          background: transparent;
        }
      
    }
      .header__icon.link,.header__active-menu-item,.disclosure__button,.header__heading-link .h2{
      color: {{ section.settings.color-transparent }} !important;
        }
        {% endif %}